.container {
  display: flex;
  align-items: center;
  height: 100vh;
  margin-left: 120px;
}
.heading {
  font-size: 50px;
  font-weight: 700;
  padding-right: 50px;
  color: rgb(34, 33, 33);
  width: 500px;
}
.paragrpah {
  border-left: 3px solid rgb(110, 109, 109);
  line-height: 45px;
  font-size: 22px;
  color: rgb(110, 109, 109);
  padding: 0 10%;
}
