.container {
  display: flex;
  align-items: center;
  height: 100vh;
  margin-left: 120px;
  animation: tracking-in-contract 1s cubic-bezier(0.215, 0.61, 0.355, 1) 9s both;
}

.heading {
  font-size: 50px;
  font-weight: 700;
  padding-right: 50px;
  color: rgb(34, 33, 33);
  width: 500px;
}
.paragrpah {
  border-left: 3px solid rgb(110, 109, 109);
  line-height: 45px;
  font-size: 22px;
  color: rgb(110, 109, 109);
  padding: 0 10%;
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@media only screen and (max-width: 600px) {
.container {
margin-top: 100px;}
}