.container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 300px;
    animation: tracking-in-contract 1s cubic-bezier(0.215, 0.61, 0.355, 1) 15s both;

}
.heading {
  text-align: center;
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: 700;
}
p {
  font-size: 26px;
}
a:visited {
  color: black;
}
.contactContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.icon {
  width: 30px;
  height: 30px;
}
.contactInfor {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
