.intro {
  margin-top: 40px;
}
.heading {
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 700;
}
.body {
  font-size: 24px;
  font-weight: 400;
}
.body p {
  color: rgb(71, 70, 70);
}
.techStack,
.container {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.icon {
  width: 35px;
  height: 35px;
}
.container p {
  border: solid 2px black;
  padding: 10px;
  border-radius: 8px;
}
.container p:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.listItem{
  list-style:inside ;

  padding-bottom: 16px;
}

@media only screen and (max-width: 600px) {

.intro {
  margin-top: 10px;
}
.heading {
  margin-bottom: 20px;
  font-size: 18px;
 
}.icon {
  width: 25px;
  height: 25px;
}
.listItem{
font-size: 16px;
}.techStack {
  margin: 20px 0;
}.container{
  margin-top: 20px;
}
.container p{
  font-size: 20px;
}
}